<div class="container-fluid px-md-4 mt-3">



    <div class="row p-2">
        <div class="col-md-2">
            <div class="row">
                <h1 class="GridContainer Filters"  >Filters</h1>
            </div>
            <div class="row Filters"  *ngIf="EmployeeFilters == undefined || EmployeeFilters.length == 0">
                <h6>No Filters Available</h6>
            </div>
            <div class="row GridContainer FilterArea"  *ngIf="EmployeeFilters != undefined || EmployeeFilters.length > 0">

                <form id="SearchEmployeeForm" [formGroup]="SearchEmployeeForm">
                    <div class="row" *ngFor="let filter of EmployeeFilters; let i = index">
                        <div class="m-2" *ngIf="filter.type == 'text'">
                            <input type="text" class="form-control" formControlName={{filter.title}} name={{filter.title}} id={{filter.title}} placeholder={{filter.title}}>
                        </div>
                        <div class="m-2" *ngIf="filter.type == 'date'">
                            <label for={{filter.title}}>{{filter.title}}</label>
                            <br>
                            <ngx-datepicker formControlName={{filter.title}} ></ngx-datepicker>
                        </div>
                        <div class="m-2" *ngIf="filter.type == 'dropdown'">
                            <label for={{filter.title}}>{{filter.title}}</label>
                            <select class="custom-select"  formControlName={{filter.title}} name={{filter.title}} id={{filter.title}}>
                                <option *ngFor="let country of filter.countries"  [value]="country.Alpha3Code">{{country.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="filterBtn">
                        <button class="btn btn-primary m-2" (click)="FilterHeroes()"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-10 p-1 GridContainer">
            <div class="row">
                <div class="col-md-1 text-dark m-2">
                    <h6>Heroes</h6>
                </div>
                <div class="col-md-10 text-dark m-2">
                    <div class="form-group">
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Search Heroes</small>
                    </div>
                </div>
            </div>
            <table class="table table-sm table-hover table-bordered">
                <thead class="HeaderTable">
                    <tr>
                        <th class="text-dark" style="width: 15%;">Name  <i class="fa fa-sort-alpha-desc Search"  aria-hidden="true" (click)="SortByNameDesc()"></i>&nbsp;&nbsp;<i class="fa fa-sort-alpha-asc Search" aria-hidden="true" (click)="SortByNameAsc()"></i></th>
                        <th class="text-dark" style="width: 15%;">Phone</th>
                        <th class="text-dark" style="width: 20%;">Email</th>
                        <th class="text-dark" style="width: 15%;">Date</th>
                        <th class="text-dark" style="width: 15%;">Country  <i class="fa fa-sort-alpha-desc Search"  aria-hidden="true" (click)="SortByCountryDesc()"></i>&nbsp;&nbsp;<i class="fa fa-sort-alpha-asc Search" aria-hidden="true" (click)="SortByCountryAsc()"></i></th>
                        <th class="text-dark" style="width: 20%;">Company  <i class="fa fa-sort-alpha-desc Search"  aria-hidden="true" (click)="SortByCompanyDesc()"></i>&nbsp;&nbsp;<i class="fa fa-sort-alpha-asc Search" aria-hidden="true" (click)="SortByCompanyAsc()"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="EmployeeSearchList == undefined || EmployeeSearchList.length == 0">
                        <td class="font-italic text-center" colspan="6">
                            No Records Available
                        </td>
                    </tr>
                    <tr *ngFor="let Employee of EmployeeSearchList; let i = index">
                        <td>{{Employee.Name}}</td>
                        <td>{{Employee.Phone | phone}}</td>
                        <td><a href={{Employee.Email}} target="_blank"
                                style="text-decoration: underline;">{{Employee.Email}}</a></td>
                        <td>{{Employee.Date | date:'MMMM d, y'}}</td>
                        <td>{{Employee.Country}}</td>
                        <td>{{Employee.Company}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>